body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 100px 1fr 100px;
    background: burlywood;
}

header {
    text-align: center;
    border: 2px solid black;
    grid-row: 1;
    grid-column: 1 / span 3;
}

li {
    display: inline;
    padding: 20px;
}

main {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    border: 2px solid black
}

.gameboard {
    display: grid;
    border: 10px solid black;
    background: whitesmoke;
    position: center;
}

.box {
    display: grid;
    grid-template-columns: 20px 20px 20px;
    border-radius: 10px;
    /* height: 150px;
    width: 20Px; */
    background: rgb(184, 221, 186);
    margin: auto;
}

.box1 {
    display: grid;
    grid-template-columns:100px;
    border: 2px solid black;
    grid-column: 1;
    height: 400px;
    width: 400px;
}

.block1{
    border: 2px solid brown;
    height: 25px;
    width: 50px;
    margin:auto 175px;
}

.block2{
    border: 2px solid brown;
    height: 50px;
    width: 100px;
    margin:auto 150px;

}

.block3{
    border: 2px solid brown;
    height: 65px;
    width: 125px;
    margin:auto 135px;
}

.box2 {
    border: 2px solid black;
    grid-column: 2;
    height: 400px;
    width: 400px;
}

.box3 {
    border: 2px solid black;
    grid-column: 3;
    height: 400px;
    width: 400px;
}

footer {
    grid-row: 3;
    grid-column: 1 / span 3;
    border: 2px solid black
}

.left {
    grid-row: 2;
    grid-column: 1;
    border: 2px solid black
}

.right {
    grid-row: 2;
    grid-column: 3;
    border: 2px solid black
}   